.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

div#app-loader {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    margin: 0 auto;
    text-align: center;
    background-color: rgba(0,0,0,0.3);
    opacity: 0.8;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: none;
}
div#app-loader.active-loader {
  display: block;
}

div#app-loader svg {
    top: 50%;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    margin-top: -40px;
}